--extra-index-url https://download.pytorch.org/whl/cu124
fastapi==0.115.0
uvicorn[standard]==0.30.6
torch==2.6.0
torchvision==0.21.0
pillow==10.4.0
python-multipart==0.0.9
prometheus-fastapi-instrumentator
scikit-learn==1.9.0
imbalanced-learn==0.14.2
pandas
httpx
opencv-python-headless
numpy